@import "compass/css3";

@mixin device-width($device){
	$width: 1000;
	@if $device == tablet-landscape {
		$width: 979px;
	} @else if $device == tablet {
		$width: 767px;	
	} @else if $device == tablet-portait {
		$width: 767px;	
	} @else if $device == mobile {
		$width: 480px;
	}

	@media only screen and (max-width:$width){
		@content;
	}
}

@font-face {
	font-family: 'icons';
	src:url('fonts/icons.eot');
	src:url('fonts/icons.eot?#iefix') format('embedded-opentype'),
		url('fonts/icons.ttf') format('truetype'),
		url('fonts/icons.woff') format('woff'),
		url('fonts/icons.svg#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

@mixin arial(){
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: normal;
}

@mixin arial-bold(){
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-weight: bold;
}


@mixin keyframes($name) {
	@-moz-keyframes #{$name} {
		@content;
	}
	@-webkit-keyframes #{$name} {
		@content;
	}
	@-o-keyframes #{$name} {
		@content;
	}
	@-ms-keyframes #{$name} {
		@content;
	}
	@-khtml-keyframes #{$name} {
		@content;
	}
	@keyframes #{$name} {
		@content;
	}
}

@mixin animation($animation-1: false, $animation-2: false) {
	$animation: compact($animation-1, $animation-2);
	@include animation-support(animation, $animation);
}

@mixin animation-support($property, $value) {
	@include experimental($property, $value, -moz, -webkit, -o, -ms, not -khtml, official);
}


@include keyframes('fade-in') {
	from {
		@include opacity(0);
	}
	to {
		@include opacity(1);
	}
}


@include keyframes('fade-out') {
	from {
		@include opacity(1);
	}
	to {
		@include opacity(0);
	}
}


@include keyframes('zoom-in') {
	from {
		@include scale(1);
	}
	to {
		@include scale(2);
	}
}

@include keyframes('zoom-out') {
	from {
		@include scale(2);
	}
	to {
		@include scale(1);
	}
}

@include keyframes('move-down') {
	0% {
		margin-top: -20px;
	}

	100% {
		margin-top: 0;
	}
}

@include keyframes('move-up') {
	0% {
		margin-bottom: -20px;
	}

	100% {
		margin-bottom: 0;
	}
}

@include keyframes('blur-in') {
	0% {
		@include filter(blur(0));
	}

	100% {
		@include filter(blur(4px));
	}
}

@include keyframes('pulse-in') {
	0% {
		@include scale(0.1);
	}

	100% {
		@include scale(1);
	}
}




body {
	background: #e2e2e2;
	margin: 0;
	padding: 0;
	font-size: 12px;
}

#main {
    width: 820px;
    margin: 0 auto;
}

.touch #main {
    max-width: 820px;
	width: auto;
}

#powerofthenetwork {
	@include arial;
	background: #FFF;
	color: #666666;
	position: relative;
	margin: 0 auto;
	max-width: 820px;
	min-width: 280px;
	font-size: 13px;
	line-height: 1.3;
	overflow: hidden;
	display: none;

	.js & {
		display: block;
	}
	
	// Typography

	h1, h2, h3, h4, h5, h6 {
		color: #333333;
		font-weight: normal;
		font-style: normal;
		line-height: 1.3;
	}

	h2 {
		@include arial-bold;
		font-size: 32px;
		margin: 10px 0;
	}

	h3 {
		@include arial-bold;
		font-size: 24px;
		margin: 10px 0;

		// @include device-width(mobile) {
		// 	.touch & {
		// 		font-size: 30px;
		// 		line-height: 1.2;
		// 	}
		// }
	}

	h4 {
		font-size: 18px;
		margin: 5px 0;
		line-height: 1.2;
	}

	h5 {
		font-size: 16px;
		margin: 10px 0;

		@include device-width(mobile) {
			.touch & {
				font-size: 14px;
				margin: 5px 0;
			}
		}
	}

	p {
		margin: 5px 0;
		line-height: 16px;
	}

	b, strong {
		@include arial-bold;
	}

	.italic {
		font-style: italic;
	}

	.red {
		color: #FF0000;
	}

	.text-center {
		text-align: center;
	}

	.grey {
		color: #323232;
	}

	.black {
		color: #000000;
	}

	
	a {
		cursor: pointer;
		@include transition(all 0.3s ease);
	}

	sup {
		line-height: 1;
	}

	// Icons
	[class^="icon-"], [class*=" icon-"] {
		font-family: 'icons';
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		background: none;
		margin-top: 0;

		/* Better Font Rendering =========== */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	

	.icon-upstairs:before {
		content: "\31";
	}

	.icon-study:before {
		content: "\32";
	}

	.icon-outside:before {
		content: "\33";
	}

	.icon-living-room:before {
		content: "\34";
	}

	.icon-kitchen:before {
		content: "\35";
	}

	.icon-info:before {
		content: "\36";
	}

	.icon-home:before {
		content: "\37";
	}

	.icon-bedroom:before {
		content: "\39";
	}

	.icon-downstairs:before {
		content: "\38";
	}



	// Buttons


	.btn {
		display: inline-block;
	    padding: 0 20px;
	    margin-bottom: 0;
	    letter-spacing: 0.5px;
	    font-size: 15px;
	    line-height: 34px;
	    vertical-align: middle;
	    font-style: normal;
	    @include border-radius(3px);
	    cursor: pointer;
	    white-space: nowrap;
	    @include arial-bold;
		text-align: left;
		position: relative;
		@include transition(all 0.3s ease);
		-webkit-tap-highlight-color: rgba(#FFF, 0); 
		

	    @include device-width(mobile) {
	        .touch & {
	            font-size: 18px;
	            line-height: 50px;
	            padding: 0 25px;
	        }
	    }
	    
	   
		
		// &:hover,
	 //    &:active,
	 //    &.active,
	 //    &.disabled,
	 //    &[disabled] {
	 //        color: #333333;
	 //        background-color: #322332;
	 //    }

	    &:first-child {
	        margin-left: 0;
	    }

		&.selected {
			background: #322332;

			&:hover {
				background: #322332;				
			}
		}

		&.has-icon {
			padding-left: 50px;
		}

		.icon {
			font-style: normal;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			font-size: 16px;
			width: 50px;
			line-height: 32px;
			text-align: center;
			overflow: hidden;


			@media only screen
				and (min-device-width : 320px)
				and (max-device-width : 568px) 
				and (orientation : landscape) {
				line-height: 34px;
			}			
			
			@include device-width(mobile) {
			    .touch & {
				    font-size: 18px;
				    line-height: 50px;
			    }
			}
			img {
				max-width: 100%;
				height: auto;
			}

			&.number {
				@include arial-bold;
				font-size: 14px;			

				&:before {
					content: '';
					border: 2px solid #FFF;
					width: 16px;
					height: 16px;
					display: block;
					position: absolute;
					top: 50%;
					left: 50%;
					@include border-radius(50%);
					margin: -10px 0 0 -10px;					
				}
			}
		}

		
	    &.btn-small {
	        padding: 0 18px;
	        font-size: 12px;
	        line-height: 30px;

	        @include device-width(mobile) {
	            .touch & {
	                font-size: 12px;
	                line-height: 30px;
	                padding: 0 18px;
	            }
	        }
	    }
	}

	.btn-secondary {
		background: #322332;
		color: #FFF;

		&.active,
		&:hover {
			background: #322332;
			color: #FFF;
		}
	}

    .btn-primary {
        background-position: 0% 0%;
        color:#FFF; 
        background: #FF0000;
        @include background(linear-gradient(#FF0000, #EE0000));

        &.active,
        &:hover {
            background: #EE0000;
            @include background(linear-gradient(#EE0000, #FF0000));
            color: #FFF;
        }
    }

	
	.circle-btn {
		//@include box-shadow(1px 1px 1px rgba(#000, 0.5));
		padding: 0 !important;
		//background: #c20000;
		display: inline-block;
		@include border-radius(50%);
		width: 40px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		color: #FFF;
		@include arial;
		font-size: 18px;
		@include box-sizing(border-box);

		@include device-width(tablet) {
			.touch & {
				width: 30px;
				height: 30px;
				line-height: 30px;
				font-size: 13px;
			//	@include font-size(16);
			}
		}

		@include device-width(mobile) {
			.touch & {
			//	@include font-size(14);
			}
		}
	}


	.info-btn {
		display: inline-block;
		font-size: 18px;
		width: 34px;
		height: 34px;
		line-height: 34px;
		&:before {
			@extend [class^="icon-"];
			@extend .icon-info:before;
			line-height: 34px;
			margin-left: 1px;
		}

	}

	.close-btn {
		border: none;
		line-height: 30px;
		font-size: 25px;
		width: 30px;
		height: 30px;

		@include device-width(tablet) {
			.touch & {
				font-size: 24px;
			}
		}
		&:before {
			content: '\00D7';
			margin: 0 0 0 1px;
			padding: 0;
			line-height: 30px;
		}

		.no-borderradius & {
			border: none;
			width: 34px;
			height: 34px;
			line-height: 34px;
			background: url(../img/buttons/primary_small.png) no-repeat;

			&:hover {
				background-position: left bottom;
			}
		}
	}


	// Misc

	img {
		height: auto;
		max-width: 100%;
	}

	.scale {
		width: 100%;
		height: auto;
	}

	.clearfix:before,
	.clearfix:after {
	    content: " "; /* 1 */
	    display: table; /* 2 */
	}

	.clearfix:after {
	    clear: both;
	}

	.clearfix {
	    *zoom: 1;
	}


	.hidden-tablet {
		@include device-width(tablet) {
			.touch & {
				display: none;
			}
		}
	}

	.hidden-phone {
		@include device-width(mobile) {
			.touch & {
				display: none;
			}
		}
	}

	.visible-phone {
		display: none;
		@include device-width(mobile) {
			.touch & {
				display: block;
			}
		}
	}

	// Layout

	.header {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 300;
		
		
		.home-btn,
		.info-btn {
			position: absolute;
			top: 10px;
			border: 2px solid #FFF;
			color: #FFF;
			line-height: 36px;
			font-size: 16px;
			display: none;
			

			&:hover {
				// color: #FF0000;
				// border-color: #FF0000;
				background: #FF0000;
			}

			@include device-width(tablet) {
				.touch & {
					display: block;
					line-height: 26px;
					font-size: 12px;

					&:before {
						line-height: inherit;
					}
				}
			}

			// @include device-width(mobile) {
			// 	.touch & {
			// 		width: 30px;
			// 		height: 30px;
			// 		line-height: 26px;
			// 		font-size: 13px;
			// 	}
			// }
		}

		.home-btn {
			left: 10px;
			display: inline-block;


			&:before {
				@extend [class^="icon-"];
				@extend .icon-home:before;
				// line-height: 36px;

				// @include device-width(tablet) {
				// 	line-height: 26px;
				// }
			}
		}

		.info-btn {
			right: 10px;

			// @include device-width(mobile) {
			// 	.touch & {
			// 		&:before {
			// 			//line-height: 26px;
			// 			margin-left: 1px;
			// 		}
			// 	}
			// }
		}
	}

	&.section-0 {
		.header,
		.footer {
			display: none;
		}
	}

	&.section-50 {
		.header {
			.home-btn {
				display: none;
			}
		}
	}
	.sections {
		position: relative;
		z-index: 200;
		.section {
			position: relative;
			background: #FFF;
			display: none;
			
			&.current {
				display: block;
			}

			&.enter {
				@include opacity(1);
				@include animation(fade-in 0.3s ease);
			}

			&.leave {
				@include opacity(0);
				@include animation(fade-out 0.3s ease);
			}

			&.zoom-in {

				.image {
					

					@include device-width(tablet) {
						.touch & {
							// @include scale(2);
							// @include animation(zoom-in 0.5s ease);
						

							&:after {
								position: absolute;
								content: '';
								top: 0;
								left: 0;
								right: 0;
								bottom: 0;
								background: rgba(#000, 0.6);
								z-index: 100;
							}
						}
					}
				}

				.no-rgba & {
					background: #000;
					.image {
						@include opacity(0.4);
					}
				}

				.tooltips .tooltip {

					z-index: auto;

					@include device-width(tablet) {
						.touch & {
							display: none;
						}
					}

					.ie8 &,
					.ie9 &,
					.lt-ie10 & {
						display: none;
					}

					&.current {

						z-index: 400;
						display: block;

						.ie8 &,
						.ie9 &,
						.lt-ie10 & {
							z-index: auto;
						}

						.tooltip-btn {
							border: 2px solid #FFF;
							background: none;

							.touch & {
								background: #EE0000;
					            @include background(linear-gradient(#EE0000, #FF0000));
							}

							&:before,
							&:after {
								background: #FFF;
								display: block;

								.touch & {
									background: none;
									display: none;
								}
							}

							.no-cssanimations &,
							.no-borderradius & {
								background: url(../img/buttons/primary.png) no-repeat left bottom;
								border: none;
								&:before,
								&:after {
									display: none;
								}

							}
						}
					}
				}
			}

			&.zoom-out {
				.image {
					@include device-width(tablet) {
						.touch & {
							// @include scale(1);
							// @include animation(zoom-out 0.3s ease);
						}
					}
				}
			}

			&.blur-in {
				.image {
					img {
						// @include filter(blur(4px));
						// @include animation(blur-in 1s ease);
					}	
				}
			}


			.image-mask {
				overflow: hidden;
				position: relative;
				z-index: 200;
				.image {
					margin: 0 -40px;
					@include device-width(tablet) {
						.touch & {
							margin: 0 -80px;
						}
					}
				}
			}

			.image-container {
				position: relative;
				margin: 0 auto 10px auto;
				background-position: center center;

				@include background-size(contain);

				@include device-width(mobile) {
					.touch & {
						width: 80% !important;
					}
				}

				.btn.section-btn {
					position: absolute;
					z-index: 300;
				}

				.overlay {
					top: 0;
					left: 0;
					position: absolute;
					right: 0;
					bottom: 0;
					z-index: 100;


					.area {
						zoom: 1;
						filter: alpha(opacity=0);
						opacity: 0;
					}

					@include device-width(mobile) {
						.touch & {
							display: none;
						}
					}

				}

				.map {
					@include device-width(mobile) {
						.touch & {
							display: none;
						}
					}
				}
			}
			.image {
				left: 0;
				position: relative;
				z-index: 200;
				display: block;
				@include transform-style(preserve-3d);
				
				img {
					border: none;
					display: block;
					@include transform-style(preserve-3d);
				}
			}


			.tooltips {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 300;
				margin: 0 -40px;

				@include device-width(tablet) {
					.touch & {
						margin: 0 -80px;
					}
				}
			}
			.tooltip {
				z-index: auto;
				position: absolute;
				display: block;
				visibility: visible;
				padding: 0;
				@include opacity(1);
				&.current {
					@include device-width(tablet) {
						.touch & {
							top: 50% !important;
							left: 50% !important;
						}
					}
				}

				&.ready {
					.tooltip-btn,
					.circle {
						@include device-width(tablet) {
							.touch & {
								@include opacity(0);
							}
						}
					}

					.tooltip-btn {
						@include device-width(tablet) {
							.touch & {
								display: none;
							}
						}
					}

					@include device-width(tablet) {
						.touch & {
							.circle {
								display: block;
								@include opacity(1);
								@include animation(fade-in 1s ease);
							}
						}
					}
					.content {
						display: block;
						opacity: 1;
						@include animation(fade-in 0.5s ease, move-down 0.5s ease);
						@include translateZ(0);

						&.above {
							@include animation(fade-in 0.5s ease, move-up 0.5s ease);
						}


						// &:before {
						// 	display: inline-block;
						// }
					}
				}

				&.enter {
					.tooltip-btn {
					//	display: none;
					}
				}

				.circle {
					border: 3px solid #CCC;
					border: 3px solid rgba(#FFF, 0.8);
					width: 150px;
					height: 150px;
					@include border-radius(50%);
					position: absolute;
					top: 0;
					left: 0;
					margin: -75px 0 0 -75px;
					display: none;
					background-image: url(../img/misc/hightlights.jpg);
					@include box-sizing(border-box);
				}

				.tooltip-btn {
					position: absolute;
					top: 30px;
					left: -20px;
					@include transition(none);
					background: none;
					text-indent: -9999px;
					border: 2px solid #FF0000;
					line-height: 36px;
					font-weight: bold;

					@include device-width(tablet) {
						.touch & {
							text-indent: 0;
							@include background(linear-gradient(#FF0000,#EE0000));
							border-color: #FFF;
							top: 15px;
							left: -15px;
							line-height: 26px;
						}
					}

					&:hover {
						background: url(../img/buttons/tooltip_hover.png) no-repeat center center;

						@include device-width(tablet) {
							.touch & {
								@include background(linear-gradient(#EE0000,#FF0000));
							}
						}

						&:before,
						&:after {
							visibility: hidden;
						}
					}

					&:before,
					&:after {
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						background: #FF0000;
						@include opacity(0);
						@include border-radius(50%);

						.touch & {
							background: none;
							display: none;
							@include animation(none);
						}
					}

					&:before {
						@include animation(fade-out 2s infinite ease, pulse-in 2s infinite ease);
					}

					&:after {
						@include animation(fade-out 2s 0.5s infinite ease, pulse-in 2s 0.5s infinite ease);
					}

					// .no-cssanimations & {
					// 	text-indent: 0;
					// 	background: #EE0000;
					// 	@include background(linear-gradient(#EE0000,#FF0000));

					// 	&:hover {
					// 		background: #FF0000;
					// 		@include background(linear-gradient(#FF0000, #EE0000));
					// 	}
					// }

					.no-borderradius &,
					.no-cssanimations & {
						text-indent: 0;
						border: none;
						width: 44px;
						height: 44px;
						z-index: 100;
						line-height: 44px;
						background: url(../img/buttons/primary.png) no-repeat;
						display: block;

						&:hover {
							background: url(../img/buttons/primary.png) no-repeat left bottom;
						}

						&:before,
						&:after {
							display: none;
						}
					}

					.touch & {
						text-indent: 0;
						@include background(linear-gradient(#FF0000,#EE0000));
						border-color: #FFF;
						&:hover {
							@include background(linear-gradient(#EE0000,#FF0000));
						}
					}
				}

				.content {
					display: none;
					opacity: 0;
					width: 320px;
					position: absolute;
					top: 110px;
					left: 0;
					margin: 0 0 0 -160px;
					background: #FFF;
					background: rgba(#FFF, 0.95);
					padding: 15px 20px;
					@include border-radius(10px);
					@include box-sizing(border-box);

					.touch & {
						p {
							// line-height: 16px;
							// font-size: 13px;
						}
					}
					
					@include device-width(mobile) {
						.touch & {
							width: 260px;
							margin-left: -130px;
							padding: 20px;
							p {
								line-height: 20px;
								font-size: 15px;
							}
						}
					}

					&.above {
						top: auto;
						bottom: 0;
						&:before {
							border-top: 20px solid #FFF;
							border-top: 20px solid rgba(#FFF, 0.95);
							border-bottom: none;
							top: auto;
							bottom: -20px;
						}

						@include device-width(tablet) {
							.touch & {
								top: 110px;
								bottom: auto;
								&:before {
									border-top: none;
									border-bottom: 20px solid #FFF;
									border-bottom: 20px solid rgba(#FFF, 0.95);
									top: -20px;
									bottom: auto;
								}
							}
						}
					}

					&:before {
						position: absolute;
						top: -20px;
						left: 50%;
						margin: 0 0 0 -20px;
						width: 0; 
						height: 0; 
						border-left: 20px solid transparent;
						border-right: 20px solid transparent;
						border-bottom: 20px solid #FFF;
						border-bottom: 20px solid rgba(#FFF, 0.95);
						content: '';
					}

					.close-btn {
						position: absolute;
						top: 0;
						right: 0;
						margin: -15px -15px 0 0;
					}
				}
			}

			.content {
				background: none;
				@include border-radius(0);
				padding: 20px 100px;
				@include device-width(mobile) {
					.touch & {
						padding: 10px;
					}
				}
			}

			.floor-navigation {
				background: #FFF;
				background: rgba(#FFF, 0.8);
				position: absolute;
				bottom: 20px;
				right: 20px;
				z-index: 400;
				padding: 4px 0;

				@include device-width(tablet) {
					.touch & {
						display: none;
					}
				}
				ul {
					padding: 0;
					list-style: none;
					margin: 0 20px 4px 20px;
					position: relative;

					li {
						position: absolute;
						display: block;

						a {
							background: #FF0000;
							display: block;
							@include opacity(0);
							width: 100%;
							height: 100%;
							text-indent: -9999px;
							&:hover {
								@include opacity(1);
							}
						}

						&.current {
							a {
								@include opacity(1);
							}
						}
					}
				}

				.title {
					margin: 0;
					text-align: center;
				}

				&.downstairs {
					ul {
						background: url(../img/floors/downstairs_navigation_bg.png); 
						width: 91px; 
						height: 100px;

						li {
							&.living-room {
								top: 31px;
								left: 37px;
								width: 52px;
								height: 38px;
							}
							&.kitchen {
								top: 2px;
								left: 2px;
								width: 87px;
								height: 29px;
							}
							&.study {
								top: 70px;
								left: 37px;
								width: 52px;
								height: 28px;
							}
						}
					}
				}	

				&.upstairs {
					ul {
						background: url(../img/floors/upstairs_navigation_bg.png); 
						width: 91px; 
						height: 100px;

						li {
							&.master-bedroom {
								top: 58px;
								left: 43px;
								width: 46px;
								height: 40px;
							}
							&.kids-bedroom {
								top: 22px;
								left: 43px;
								width: 46px;
								height: 35px;
							}
						}
					}
				}

				&.outside {
					ul {
						background: url(../img/floors/outside_navigation_bg.png); 
						width: 104px; 
						height: 88px;

						li {
							&.garden {
								top: 26px;
								left: 20px;
								width: 51px;
								height: 36px;
							}
						}
					}
				}	
			}

			&.home {
				.content {
					position: relative;
					//position: absolute;
					z-index: 400;
					padding: 10px 30px;

					@include device-width(mobile) {
						.touch & {
							padding: 5px 15px;
						}
					}

					.title {
						//font-size: 24px;
						margin: 20px 0;
						letter-spacing: 0;
						// .welcome {
						// 	font-size: 32px;
						// }

						.welcome,
						.home {
							margin: 0;
						} 

						@include device-width(mobile) {
							.touch & {
								.welcome {
									font-size: 20px;
								}

								.home {
									font-size: 16px;
								}
								// .welcome {
								// 	//font-size: 20px;
								// }
							}
						}
					}

					.footer {
						display: none;
					}
				}

				.image-container {
					margin-top: -160px;
					margin-bottom: 20px;
					position: relative;
					z-index: 300;
					left: 80px;

					@include device-width(tablet) {
						.touch & {
							margin-top: -40px;
							left: 0;
							width: 400px !important;
						}
					}

					@include device-width(mobile) {
						.touch & {
							margin-bottom: 0;
							margin-top: -30px;
							width: 80% !important;
						}
					}
				}
			}

			&.intro {
				.content {
					z-index: 400;
					padding: 20px;
					.title {
						margin-top: 20px
					}
				}
			}
		}
	}

	.info {
		display: none;
		z-index: 500;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		color: #666666;
		background: rgba(#000, 0.5);
		padding: 200px 0;

		.no-rgba & {
			background: url(../img/misc/semi_black.png);
		}

		&.active {
			display: block;
			opacity: 1;
			@include animation(fade-in 0.5s ease);
		}

		.content {
			display: none;
			@include border-radius(5px);
			margin: 0 auto;
			width: 300px;
			background: #FFF;
			padding: 15px 20px;
			position: relative;

			@include device-width(mobile) {
				.touch & {
					width: 250px;
					padding: 10px 15px;
				}
			}


			&.active {
				display: block;
				@include translateZ(0);
				@include animation(move-down 0.5s ease);
			}
			.close-btn {
				position: absolute;
				top: -16px;
				right: -16px;
			}
		}
	}

	.footer {
		position: relative;
		z-index: 100;
		display: block;
		padding: 20px 0;

		@include device-width(tablet) {
			.touch & {
				padding-top: 18px;
				padding-bottom: 18px;
				background: #e2e2e2;
			}
		}

		.info-btn {
			position: absolute;
			top: 20px;
			right: 20px;
			@include device-width(tablet) {
				.touch & {
					display: none;
				}
			}
		}
		.section-navigation-container {
			display: none;

			@include device-width(tablet) {
				.touch & {
					display: block;
				}
			}

			.section-navigation {
				display: none;
				padding: 0 30px;
				&.current {
					display: block;
				}
			}
		}
		.main-navigation-container {
			
			@include device-width(tablet) {
				.touch & {
					padding: 0 30px;
				}
			}
			.title {
				display: none;

				@include device-width(tablet) {
					.touch & {
						display: block;
					}
				}
			}
		}

		
		.navigation {
			text-align: center;
			display: block;
			ul {
				list-style: none;
				padding: 0;
				margin: 0;

				@include device-width(tablet) {
					.touch & {
						text-align: left;
						display: block;
					}
				}

				li {
					margin: 0 0 0 20px;
					float: left;

					@include device-width(tablet) {
						.touch & {
							float: none;
							width: auto;
							margin: 15px 0;
						}
					}

					&.home-desktop {
						@include device-width(tablet) {
							.touch & {
								display: none;
							}
						}
					}

					&.home {
						display: none;
						@include device-width(tablet) {
							.touch & {
								display: block;
							}
						}
					}

					a {
						display: block;
					}
				}
			}
		}
	}
}