

@mixin device-width($device){
	$width: 0;
	@if $device == tablet-landscape {
		$width: 979px;
	} @else if $device == tablet {
		$width: 767px;	
	} @else if $device == tablet-portait {
		$width: 767px;	
	} @else if $device == mobile {
		$width: 480px;
	}

	@media only screen and (max-width: $width){
		@content;
	}
}

@mixin helvetica-light(){
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
}


@mixin helvetica-medium(){
	font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 400;
}

@mixin helvetica-bold(){
	font-family: "HelveticaNeue-Bold", "Helvetica Neue Bold", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 600;
}

@import 'compass/css3';

body {
	background: #000;
	margin: 0;
	padding: 0;
	font-size: 12px;
}

#connected-home {
	@include helvetica-light;
	background: #FFF;
	position: relative;
	margin: 0 auto;
	max-width: 940px;


	// Typography

	h1, h2, h3, h4, h5, h6 {
		font-weight: 300;
		//margin: 1em 0;
	}

	// h3 {
	// 	@include font-size(25);
	// }

	// h4 {
	// 	@include font-size(20);
	// }

	// h5 {
	// 	@include font-size(18);//can be changed
	// }

	// b, strong {
	// 	@include helvetica-bold;
	// }

	.italic {
		font-style: italic;
	}

	.red {
		color: #8a0000;
	}

	.text-center {
		text-align: center;
	}

	.grey {
		color: #b1b1b1;
	}

	
	a {
		cursor: pointer;
		@include transition(all 0.3s ease);
	}

	area {
		&:hover {
			background: #FFF;
		}
	}

	// Buttons

	.btn,
	.grey-btn {
		text-align: left;
		// line-height: 1;
		// cursor: pointer;
		font-style: italic;
		color: #FFF;
		//padding: 0.6em 0.8em; 
		position: relative;
		//letter-spacing: 1px;
		// background: #ca0000;
		// @include filter-gradient(#ca0000, #870000, vertical);
		// @include background(linear-gradient(top, #ca0000 0%, #ca0000 50%, #870000 51%, #870000 100%));
		// @include border-radius(3px);
		// @include font-size(16);
		// @include text-shadow(0 -1px 0 #000);
		// @include box-shadow(inset 0px -1px 2px #c20000);
		@include transition(all 0.3s ease);

		@include device-width(tablet) {

		}

		&:hover {
			//@include box-shadow(inset 0px -1px 2px #646464);

			.icon {
				// @include background(linear-gradient(top, #292929, #373737));
				// @include box-shadow(inset -2px 0 2px rgba(0, 0, 0, 0.5));
				// &.number {
				// 	@include box-shadow(inset 1px 0 2px #3a3a3a, inset -2px 0 2px rgba(0, 0, 0, 0.5));
				// }
			}
		}

		&.selected {
			background: #000;
			border: 1px solid #666;
			@include box-shadow(none);
			.icon {
				background: none;
				@include box-shadow(none);
				border-right: 1px solid #666;
			}
		}

		&.small {
			
		}

		&.has-icon {
			padding-left: 50px;
		}

		.icon {
			font-style: normal;
			@include border-radius(3px 0 0 3px);
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			@include background(linear-gradient(top, #8b0000, #b80000));
			//font-size: 0.8em;
			width: 2.8em;
			text-align: center;
			@include box-shadow(inset -2px 0 2px rgba(#000, 0.5));
			@include helvetica-bold;
			overflow: hidden;
			
			img {
				max-width: 100%;
				height: auto;
			}

			&.number {
				line-height: 2.6em;
				@include box-shadow(inset 1px 0 2px #c20000, inset -2px 0 2px rgba(0, 0, 0, 0.5));
				&:before {
					content: '';
					border: 2px solid #FFF;
					width: 1.3em;
					height: 1.3em;
					display: block;
					position: absolute;
					top: 50%;
					left: 50%;
					@include border-radius(50%);
					margin: -0.8em 0 0 -0.85em; 
				}
			}
		}
	}

	.grey-btn {
		background: #3a3a3a;
		@include filter-gradient(#3a3a3a, #870000, vertical);
		@include background(linear-gradient(top, #3a3a3a 0%, #3a3a3a 50%, #2a2a2a 51%, #2a2a2a 100%));
		@include box-shadow(inset 0px -1px 2px #3a3a3a);

		.icon {
			@include background(linear-gradient(top, #292929, #373737));
		}
	}

	.circle-btn {
		background: #c20000;
		border: 3px solid #FFF;
		display: inline-block;
		@include border-radius(50%);
		width: 2em;
		height: 2em;
		line-height: 1.9em;
		text-align: center;
		color: #FFF;
		@include helvetica-bold;
		//@include font-size(20);

		@include device-width(tablet) {
		//	@include font-size(16);
		}

		@include device-width(mobile) {
		//	@include font-size(14);
		}

		&:hover {
			background: #646464;
		}
	}

	// Misc

	img {
		height: auto;
		max-width: 100%;
	}

	.clearfix:before,
	.clearfix:after {
	    content: " "; /* 1 */
	    display: table; /* 2 */
	}

	.clearfix:after {
	    clear: both;
	}

	.clearfix {
	    *zoom: 1;
	}

	// Layout
	.sections {
		position: relative;
	
		.section {
			position: relative;
			background: #FFF;
			display: none;
			overflow: hidden;
			&.current {
				display: block;
			}

			.content {
				z-index: 200;
				padding: 0 2.5em;
			}

			.image-mask {
				position: relative;
			}

			.image {
				left: 0;
				position: relative;
				//text-align: center;

				// > .inner {
				// 	position: relative;
				// 	display: inline-block;
				// }

				.map {
					// position: relative;
					// z-index: 200;
				}
				
				svg {
					// display: none;
					// position: absolute;
					// top: 0;
					// left: 0;
					// z-index: 100;
				}

				img {
					display: block;
				}
				.overlay {
				//	display: none;
					top: 0;
					left: 0;
				}

				.tooltip-btn {
					position: absolute;
				}
			}
		}
	}

	.footer {
		background: #000;
		position: relative;
		.section-navigation-container {
			padding: 1em;
			display: none;

			@include device-width(tablet) {
				display: block;
			}
		}
		.main-navigation-container {
			background: #1a1a1a;
			padding: 1em;

			.title {
				display: none;

				@include device-width(tablet) {
					display: block;
				}
			}
		}

		.home-btn {
			position: absolute;
			top: 0px;
			left: 0;
			z-index: 200;
		}

		.navigation {
			text-align: center;
			ul {
				display: inline-block;
				list-style: none;
				padding: 0;
				margin: 0;
				text-align: center;

				@include device-width(tablet) {
					text-align: left;
					display: block;
				}

				li {
					margin: 0.4em 0.6em;
					float: left;
					width: 15em;

					@include device-width(tablet) {
						float: none;
						width: auto;
						margin-top: 1.2em;
						margin-bottom: 1.2em;
					}

					&.home {
						display: none;
						margin-top: 2.5em;
						@include device-width(tablet) {
							display: block;
						}
						a {
							.icon {
								img {
									width: 50%;
									margin-top: 0.8em;
								}
							}
						}


					}

					a {
						display: block;
					}
				}
			}
		}
	}
}
	
